[Unit]
Description=Check for Customer Flow demo updates every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Persistent=true
Unit=customer-flow-demo-deploy.service

[Install]
WantedBy=timers.target
