[Unit]
Description=Check for Customer Flow updates every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Persistent=true
Unit=customer-flow-auto-deploy.service

[Install]
WantedBy=timers.target
